html, body {
	margin: 0;
	padding: 0;
	background-color: rgb(220,220,220);
}

	
	
#page {
    width: 505px;
	margin:0 auto;
	
}


#chopperInfo {
	text-align: left;
}

#chopper {
	margin-left: 65px;
	
}



#titansteel {
	margin-left: 64px;
	width: 160px;
}

#titanium {
	margin-left: 69px;
	width: 160px;
}

#saronite {
	margin-left: 74px;
	width: 160px;
}

#fire {
	margin-left: 78px;
	width: 160px;
}

#earth {
	margin-left: 69px;
	width: 160px;
}

#shadow {
	margin-left: 52px;
	width: 160px;
}

#bolts {
	margin-left: 0px;
	width: 160px;
}

#arctic {
	margin-left: 88px;
	width: 160px;
}

#warning {
	color: red;
	text-align: center;
}

#transmute {
	margin-left: 88px;
}

#total {
	margin-left: 68px;
}

#describe {
	margin-left: 68px;
	font-size: 110%;
}
