body {
  padding: 0;
  }
  
#page {
  padding: 0px;
  border:1px solid black;
}
#ord {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 7px;
}

#question {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 7px;
  margin-top: 10px;
}
